
<ion-view view-title="{{'Clients.Title' | translate}}">

         <ion-floating-button click="openFormNewClient()" has-footer="false" button-color="#8BCc4A" icon="ion-plus" icon-color="#fff">
      </ion-floating-button>

    
      <ion-content class="bg-home" scroll="true" overflow-scroll="false">
                 
       
     
      <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->
              <div class="listClientes">                  


                  <ion-list show-delete="data.showDelete" scroll="true" overflow-scroll="false" >

                    
                  <center>
                    <label class="item item-input item-stacked-label labelsFormInicioRegistro">
                          <span class="input-label" style="color:white; float:left; margin-left:15%;" translate-cloak>{{'Clients.FilterNameClient' | translate}}</span>
                          <br>                        
                          <input type="text" style="color:white; text-align:center; background-color:rgba(66, 165, 245,0.3);" ng-model="filterSearch2">

                  </label> 
                  </center>
                  <br>

                        <div  ng-repeat="item in listClients | filter:{name:filterSearch2}" item="item"  class="item item-remove-animate item-avatar">
                          <img ng-src="img/user3.png" ng-click="openModalDetail(item.id)">

                            <a   style="color:black; text-decoration: none; float:right" ng-href="tel: {{item.phone_numbers}}">         
                                <button class="button button-small button-balanced icon ion-android-call"> {{'MakeCollections.Call' | translate}}</button>                       
                                      
                               </a>
                          
                           <h2 style="color:white;" ng-click="openModalDetail(item.id)"> {{item.name}}</h2>


                       
                           <h3 style="color:white;" ng-click="openModalDetail(item.id)"> {{item.address}}-{{item.email}}</h3>
                        
                           <i>{{item.phone_numbers}}</i>

                                <a   style="color:black; text-decoration: none; float:right; color:white;" ng-click="openModalDetail(item.id)">         
                                 {{'Clients.BtnSee' | translate}}                      
                                      
                               </a>
                           
                          
                                              
                           
                        </div>

                     
                         
                       
                       

                  </ion-list>

              </div> 


    
      </ion-content>

</ion-view>
</div>
 


