<div class="modal-header">
    <h3 class="modal-title">Agregar/Actualizar Permiso</h3>
</div>
<form ng-submit="ok()">
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-body">
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-6 control-label">Nombre del Permiso</label>
                        <div class="col-md-6">
                            <input ng-required="true" ng-maxlength="100" ng-model="item.name" type="text" class="form-control input-medium" placeholder="Nombre del Permiso">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label">Código del Permiso</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control input-medium" ng-model="item.codename" placeholder="Código interno del Permiso">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label">Descripción del Permiso</label>
                        <div class="col-md-6">
                            <textarea ng-required="true" ng-maxlength="100" ng-model="item.description" rows="3" class="form-control input-medium" placeholder="Descripción del Permiso"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn green-haze">Guardar</button>
        <button class="btn default" ng-click="cancel()">Cancelar</button>
    </div>
</form>
